/* Fonts */
@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat Thin'), local('Akrobat-Thin'), url('/fonts/Akrobat-Thin.woff2') format('woff2'), url('/fonts/Akrobat-Thin.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat Light'), local('Akrobat-Light'), url('/fonts/Akrobat-Light.woff2') format('woff2'), url('/fonts/Akrobat-Light.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat Regular'), local('Akrobat-Regular'), url('/fonts/Akrobat-Regular.woff2') format('woff2'), url('/fonts/Akrobat-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat SemiBold'), local('Akrobat-SemiBold'), url('/fonts/Akrobat-SemiBold.woff2') format('woff2'), url('/fonts/Akrobat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat Bold'), local('Akrobat-Bold'), url('/fonts/Akrobat-Bold.woff2') format('woff2'), url('/fonts/Akrobat-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat ExtraBold'), local('Akrobat-ExtraBold'), url('/fonts/Akrobat-ExtraBold.woff2') format('woff2'), url('/fonts/Akrobat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat Black'), local('Akrobat-Black'), url('/fonts/Akrobat-Black.woff2') format('woff2'), url('/fonts/Akrobat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('/fonts/GothamPro-Light.eot');
    src: local('Gotham Pro Light'), local('GothamPro-Light'),
    url('/fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GothamPro-Light.woff') format('woff'),
    url('/fonts/GothamPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('/fonts/GothamPro-Black.eot');
    src: local('Gotham Pro Black'), local('GothamPro-Black'),
    url('/fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GothamPro-Black.woff') format('woff'),
    url('/fonts/GothamPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* General */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
}

body {
    background-color: #171515;
    font-family: Akrobat, Arial, sans-serif;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.5);
}

.no-scroll {
    overflow: hidden;
}

.wrapper {
    background-image: url("/img/bg.png");
    background-attachment: fixed;
    -moz-background-size: 170%;
    -webkit-background-size: 170%;
    -o-background-size: 170%;
    background-size: 170%;
    background-position: bottom;
}

.menu_wrapper {
    display: flex;
}

.menu {
    display: flex;
    width: 84px;
    text-align: center;
}

.menu__menu-toggle {
    margin: 36px auto 51px auto;
    z-index: 1;
}

.menu__menu-toggle input {
    display: block;
    width: 37px;
    height: 22px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.menu__menu-toggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    width: 37px;
    background: #838181;
}

/*
 * But let's hide the middle one.
 */
.menu__menu-toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.menu__menu-toggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
    width: 37px;
}

.menu__menu-toggle span {
    display: block;
    width: 37px;
    height: 2px;
    margin-bottom: 9px;
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
    transform-origin: 3px 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), width 0.6s,
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

.menu__menu-toggle span:first-child {
    transform-origin: 0 0;
}

.menu__menu-toggle span:nth-last-child(2) {
    transform-origin: 0 100%;
    margin: 0;
}

/* Menu */
.menu__menu-list {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    padding-top: 114px;
    background: #171515;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0 0;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.menu__menu-list li {
    margin-bottom: 71px;
}

.menu__menu-list li a.menu__menu-list__menu-title {
    font-weight: 900;
    line-height: 54px;
    text-transform: uppercase;
    text-shadow: 0 0 3px #000000;
    color: transparent;
    display: block;
    margin-bottom: 106px;
    margin-top: 154px;
    font-size: 150px;
    -webkit-text-stroke: 3px #767676;
}

.menu__menu-list li a.menu__menu-list__menu-title:hover {
    color: transparent;
    -webkit-text-stroke: 3px #767676;
}

.menu__menu-list li a {
    font-weight: 800;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #7B1111;
    text-decoration: none;
    transition: color 0.3s ease;
    text-shadow: 0 4px 8px #000000;
    font-size: 38px;
}

.menu__menu-list li a:hover {
    color: #767676;
    transition: color 0.3s ease;
}

/*
 * And let's slide it in from the left
 */
.menu__menu-toggle input:checked ~ ul {
    transform: none;
}

.menu__logo {
    margin-bottom: 180px;
}

.menu__logo img {
    max-height: 35vh;
}

.menu__social {
    margin-bottom: 21px;
}

.menu__social ul li {
    list-style-type: none;
}

.menu__social ul li:not(:last-child) {
    margin-bottom: 30px;
}

.menu__line {
    background-color: rgba(255, 255, 255, 0.5);
    width: 1px;
    min-height: 43px;
    margin: 0 auto 12px;
}

.menu_menu-text-wrapper {
    transform: translateX(-19%) rotate(-90deg);
    height: 15px;
    width: 136px;
    margin: auto;
    position: relative;
}

.menu__menu-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    text-transform: uppercase;
    color: #444444;
}

.menu__phone {
    font-size: 18px;
    font-weight: 600;
    padding: 11px 10px 0 0;
    width: 100%;
    text-align: right;
}

/* Main page */
.header__address {
    font-size: 22px;
    text-transform: uppercase;
}

.content__title {
    text-align: left;
    margin-bottom: 54px;
}

.content__title h1 {
    color: transparent;
    -webkit-text-stroke: 2px #767676;
    text-transform: uppercase;
    font-weight: 900;
}

.content__title h2 {
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #7B1111;
}

.content_wrapper {

}

.content__block-content {
    display: flex;
    flex-direction: column;
}

.content__block-content:not(:last-child) {
    margin-bottom: 124px;
}

.content__block-content:last-child {
    margin-bottom: 40px;
}

.content__block-content a {
    text-decoration: none;
}

.content__block-content-title h2 {
    font-weight: 800;
    font-size: 27px;
    line-height: 40px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #7B1111;
    text-shadow: 0 4px 40px #000000;
    margin-bottom: 41px;
}

.content__block-content-description {
    font-weight: 600;
    line-height: 30px;
    font-style: normal;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 46px;
}

.content__block-content-btn {
    text-align: center;
}

.content__btn {
    width: 100%;
    border: 4px solid #7B1111;
    box-sizing: border-box;
    text-align: center;
    line-height: 56px;
    font-weight: 700;
    color: #7B1111;
    text-transform: uppercase;
    /*padding: 0 116px;*/
    display: inline-block;
}

.content__btn:hover {
    text-decoration: none;
}

.btn-more {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-more:hover {
    border: 4px solid;
    box-shadow: inset 0 0 20px rgba(123, 16, 16, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    /*text-shadow: 1px 1px 2px #427388;*/
}

footer p {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(68, 68, 68, 0.5);
    margin-bottom: 23px;
}

/* Default page */
.header__menu .mobile_menu {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
    position: relative;
    top: -8px;
    cursor: pointer;
}

.header__menu .mobile_menu_list {
    display: none;
    flex-direction: column;
    text-align: center;
}

.header__menu .mobile_menu_list a {
    margin-right: 0;
    line-height: 40px;
}

.header__menu ul {
    display: flex;
    list-style-type: none;
}

.header__menu ul li a {
    color: #767676;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    margin-right: 40px;
}

.header__menu ul li a:hover {
    color: #7B1111;
    transition: color 0.3s ease;
}

.title_section {
    display: flex;
    padding: 144px 0 192px 0;
    justify-content: space-between;
}

.title_section .page_img img {
    width: 100%;
    max-width: 558px;
}

.title_section .page_desc .title {
    font-weight: 900;
    font-size: 80px;
    line-height: 90px;
    text-shadow: 0 0 3px #000000;
    color: transparent;
    -webkit-text-stroke: 2px #767676;
    text-transform: uppercase;
    margin-bottom: 48px;
}

.title_section .page_desc .desc {
    text-transform: uppercase;
}

.content_section {
    display: flex;
    margin-bottom: 262px;
    justify-content: space-between;
}

.content_section.reverse {
    flex-direction: row-reverse;
}

.content_section.reverse .content {
    margin-right: 120px;
}

.content_section.reverse .content-img {
    margin-right: 0;
    max-height: 430px;
}

.content_section .content-img {
    margin-right: 120px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    max-height: 430px;

}

.content_section .content-img img {
    display: block;
    position: relative;
    width: 100%;
    top: -20px;
    right: -20px;
    z-index: -1;

}

.content_section .content .content_title_wrapper {
    display: flex;
    margin-bottom: 36px;
}

.content_section .content .title {
    font-weight: 800;
    font-size: 36px;
    text-transform: uppercase;
    color: #7B1111;
    margin-left: 37px;
}

.content_section .content .desc {
    font-size: 18px;
    line-height: 26px;
    font-family: Gotham Pro, serif;
    font-weight: 300;
}

.content_section .content .desc p {
    padding: 0 0 16px;
}

.benefits_section {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 176px;
}

.benefits_section .benefit:not(:last-child) {
    margin-right: 114px;
}

.benefits_section .benefit .benefit-icon {
    max-height: 68px;
    margin-bottom: 46px;
}

.benefits_section .benefit .benefit-desc {
    font-family: Gotham Pro, serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
}

/* List page */
.list_title_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 175px;
    margin-bottom: 134px;
}

.list_title_section .title {
    font-weight: 900;
    font-size: 80px;
    line-height: 90px;
    text-transform: uppercase;
    text-shadow: 0 0 3px #000000;
    color: transparent;
    -webkit-text-stroke: 3px #767676;
    position: relative;
    top: -5px;
    padding: 0 15px 15px 0;
}

.list_title_section .categories {

}

.list_title_section .categories ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list_title_section .categories ul li {
    padding: 26px 0;
}

.list_title_section .categories ul li:not(:last-child) {
    margin-right: 50px;
}

.list_title_section .categories ul li.active {
    border: 4px solid #7B1111;
    box-sizing: border-box;
    padding: 17px 40px;
}

.list_title_section .categories ul li a:hover {
    color: #7B1111;
}

.list_title_section .categories ul li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    color: #767676;
}

.list_articles_section {
    display: flex;
    flex-flow: wrap row;
    margin-bottom: 88px;
}

.list_articles_section .article {
    position: relative;
    width: 450px;
    min-height: 398px;
    overflow: hidden;
    flex: 1 1 auto;
    margin: 30px 0;
}

.list_articles_section .article img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list_articles_section .article .overlay {
    position: relative;
    bottom: -100%;
    top: 200px;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.79);
    transition: .5s cubic-bezier(.22, .61, .36, 1);
}

.list_articles_section .article:hover .overlay {
    height: 100%;
    bottom: 0;
    top: 0;
}

.list_articles_section .article .article-description {
    padding: 0 34px;
}

.list_articles_section .article .article-date {
    position: absolute;
    top: 66px;
}

.list_articles_section .article .article-title {
    position: absolute;
    top: 107px;
    font-weight: 800;
    line-height: 36px;
    color: #949494;
    text-transform: uppercase;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list_articles_section .article .article-desc {
    position: absolute;
    top: 198px;
    font-family: Gotham Pro, serif;
    font-size: 18px;
    line-height: 26px;
    color: #767676;
}

.list_articles_section .article .article-more {
    position: absolute;
    top: 321px;
}

.list_articles_section .article .article-more a {
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #7B1111;
}

.pagination_wrapper {
    text-align: center;
    margin-bottom: 80px;
}

.pagination {
    display: inline-block;
    text-align: center;
}

.pagination .prev {
    margin-right: 70px;
}

.pagination .next {
    margin-left: 70px;
}

.pagination a {
    font-family: Gotham Pro, serif;
    font-size: 20px;
    line-height: 25px;
    color: #949494;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    margin: 0 4px;
}

.pagination a.active {
    border: 4px solid #7B1111;
    box-sizing: border-box;
}

.pagination a:hover:not(.active) {
    color: #7B1111;
}

/*  Article page  */
.article_title_section {
    margin: 51px 0;
}

.article_title_section .title h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 50px;
    color: #949494;
    text-transform: uppercase;
}

.article_content_section .article-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 66px;
}

.article_content_section .article-info .date {
    font-weight: 600;
}

.article_content_section .article-info .date span {
    padding-right: 16px;
}

.article_content_section .article-info .social-share {
    display: flex;
    font-weight: 600;
    text-transform: uppercase;
}

.article_content_section .article-info .social-share .share-text {
    margin-right: 44px;
}

.article_content_section .article-info .social-share .icon:not(:last-child) {
    margin-right: 28px;
}

.article_content_section .content-img {
    display: flex;
    justify-content: center;
    margin-bottom: 66px;
}

.article_content_section .content-img img {
    width: 100%;
    max-width: 1000px;
    height: auto;
}

.article_content_section .content {
    font-family: Gotham Pro, serif;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
}

.article_content_section .content p {
    margin-bottom: 41px;
}

.article_content_section .content ul {
    list-style: none;
    counter-reset: my-awesome-counter;
    margin-bottom: 41px;
}

.article_content_section .content ul > li:not(:last-child) {
    margin-bottom: 22px;
}

.article_content_section .content ul > li::before {
    content: url("/img/list-marker.svg");
    margin: 0 26px;
    display: inline-block;
}

.article_content_section .content ol {
    list-style: none;
    counter-reset: my-awesome-counter;
    margin-bottom: 41px;
}

.article_content_section .content ol > li {
    counter-increment: my-awesome-counter;
}

.article_content_section .content ol > li:not(:last-child) {
    margin-bottom: 22px;
}

.article_content_section .content ol > li::before {
    content: counter(my-awesome-counter) ". ";
    margin: 0 0 0 25px;
    font-weight: 900;
    color: #7B1111;
    width: 37px;
    display: inline-block;
}

.article_content_section .content blockquote::before {
    content: "\"";
    font-weight: 900;
    color: #7B1111;
    display: inline-block;
    font-size: 36px;
}

.article_content_section .content blockquote::after {
    content: "\"";
    font-weight: 900;
    color: #7B1111;
    display: inline-block;
    font-size: 36px;
}

.article_content_section .content a {
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.3s ease;
}

.article_content_section .content a:hover {
    color: #7B1111;
}

.article_content_section .content h1 {
    font-family: Akrobat, serif;
    font-weight: 800;
    font-size: 36px;
    color: #7B1111;
    text-transform: uppercase;
    margin-bottom: 41px;
}

.article_content_section .content h2 {
    font-family: Akrobat, serif;
    font-weight: 800;
    font-size: 32px;
    color: #7B1111;
    text-transform: uppercase;
    margin-bottom: 41px;
}

.article_content_section .content h3 {
    font-family: Akrobat, serif;
    font-weight: 800;
    font-size: 28px;
    color: #7B1111;
    text-transform: uppercase;
    margin-bottom: 41px;
}

.article_content_section .content h4 {
    font-family: Akrobat, serif;
    font-weight: 800;
    font-size: 24px;
    color: #7B1111;
    text-transform: uppercase;
    margin-bottom: 41px;
}

.article_content_section .content h5 {
    font-family: Akrobat, serif;
    font-weight: 800;
    font-size: 20px;
    color: #7B1111;
    text-transform: uppercase;
    margin-bottom: 41px;
}

.article_content_section .content h6 {
    font-family: Akrobat, serif;
    font-weight: 800;
    font-size: 16px;
    color: #7B1111;
    text-transform: uppercase;
    margin-bottom: 41px;
}

.article_content_section .content img.aligncenter {
    align-self: center;
    display: flex;
}

.article_content_section .content img.alignleft, img.alignnone {
    align-self: start;
    display: flex;
}

.article_content_section .content img.alignright {
    align-self: end;
    display: flex;
}

/* Contacts page */
.contact_section {
    display: flex;
    margin: 135px 0 0;
}

.contact_section .contact_content {
    min-width: 570px;
}

.contact_section .contact_content:not(:last-child) {
    margin-right: 150px;
}

.contact_section .contact_content h1, h2 {
    font-family: Akrobat, serif;
    font-weight: 800;
    font-size: 36px;
    color: #7B1111;
    text-transform: uppercase;
    margin-bottom: 41px;
}

.contact_section .contact_content img {
    width: 100%;
}

.contact_section .contact_content p {
    font-family: Gotham Pro, sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.5);
    padding: 0 0 16px;
}
.contact_section .contact_content .wrapper_col {
    display: flex;
    min-width: 280px;
    margin-top: 70px;
}

.contact_section .contact_content .wrapper_col .column:not(:last-child) {
    margin-right: 70px;
}

.contact_section .contact_content .wrapper_col .column .title {
    font-weight: 800;
    font-size: 22px;
    line-height: 36px;
    color: #949494;
    text-transform: uppercase;
}