/* Fonts */
@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat'), local('Akrobat-Regular'), url('/fonts/Akrobat.woff2') format('woff2'), url('/fonts/Akrobat.woff') format('woff'), url('/fonts/Akrobat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat Bold'), local('Akrobat-Bold'), url('/fonts/Akrobatbold.woff2') format('woff2'), url('/fonts/Akrobatbold.woff') format('woff'), url('/fonts/Akrobatbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat ExtraBold'), local('Akrobat-ExtraBold'), url('/fonts/Akrobatextrabold.woff2') format('woff2'), url('/fonts/Akrobatextrabold.woff') format('woff'), url('/fonts/Akrobatextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat Black'), local('Akrobat-Black'), url('/fonts/Akrobatblack.woff2') format('woff2'), url('/fonts/Akrobatblack.woff') format('woff'), url('/fonts/Akrobatblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* General */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #171515;
    font-family: Akrobat, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.5);
}

.header-wrapper {
    display: flex;
}

.menu-block {
    display: flex;
    width: 84px;
    text-align: center;
}

.menuToggle {
    margin: 36px auto 51px auto;
    z-index: 1;
}

.menuToggle input {
    display: block;
    width: 37px;
    height: 22px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

.menuToggle span {
    display: block;
    width: 37px;
    height: 2px;
    margin-bottom: 9px;
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
    transform-origin: 3px 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

.menuToggle :nth-last-child(2) {
    width: 21px;
}

.menuToggle span:first-child {
    transform-origin: 0 0;
}

.menuToggle span:nth-last-child(2) {
    transform-origin: 0 100%;
    margin: 0;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    width: 37px;
    background: #838181;
}

/*
 * But let's hide the middle one.
 */
.menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
    width: 37px;
}

/* Menu */
.menu {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    margin: -110px 0 0 -23px;
    padding-top: 125px;
    background: #171515;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.menu li {
    padding: 2% 0;
    font-weight: 800;
    font-size: 2vw;
    line-height: 40px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #7B1111;

}

.menu li.text-name {
    font-weight: 900;
    font-size: 8vw;
    line-height: 160px;
    text-shadow: 0 0 3px #000000;
    margin-bottom: 3%;
}

@supports (-webkit-text-stroke: 3px #767676) {
    .menu li.text-name {
        color: transparent;
        -webkit-text-stroke: 3px #767676;
    }
}

.menu a {
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu a li:hover {
    color: #767676;
    transition: color 0.3s ease;
}

/*
 * And let's slide it in from the left
 */
.menuToggle input:checked ~ ul {
    transform: none;
}

.logo {
    margin-bottom: 180px;
}

.logo img {
    max-height: 35vh;
}

.social {
    margin-bottom: 21px;
}

.social ul {

}

.social ul li{
    list-style-type: none;
}

.social ul li:not(:last-child) {
    margin-bottom: 30px;
}

.line {
    background-color: rgba(255, 255, 255, 0.5);
    width: 1px;
    min-height: 43px;
    margin: 0 auto 12px;
}

.menu-text-wrapper {
    transform: translateX(-19%) rotate(-90deg);
    height: 15px;
    width: 136px;
    margin: auto;
    position: relative;
}

.menu-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    text-transform: uppercase;
    color: #444444;
}
.title{
    text-align: left;
}
.title h1{
    color: transparent;
    -webkit-text-stroke: 2px #767676;
    text-transform: uppercase;
}
.title h2{
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #7B1111;
}